#map {
    width: 50vw !important;
    height: 50vh !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#addButton.btn{
    margin-top: 7vh;
}

#notesDiv{
    margin-bottom: 5vh;
}